@model NewPasswordViewModel
@{
    var user = ViewData["User"] as AppUser;
    var result = TempData["ChangePasswordResult"] as string;
}
<style>
    .password-field i {
        position: absolute;
        top: 0.6rem;
        right: 1rem;
        cursor: pointer;
    }
</style>
<main class="main-content-wrapper">
    <!-- section -->
    <section>
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-12">
                    <div class="py-6 p-md-6 p-lg-10">
                        <div>
                            <!-- heading -->
                            <h5 class="mb-1">Şifrəni dəyiş</h5>
                            @if (result == "true")
                            {
                                <div class="text-primary">Şifrə uğurla dəyişdirildi!</div>
                            }
                            else if (result == "false")
                            {
                                <div class="text-danger">Şifrə dəyişdirilə bilmədi</div>
                            }
                            <div class="row mt-3">
                                <div class="col-lg-5">
                                    <!-- form -->
                                    <form method="post" asp-action="changepassword">
                                        <!-- input -->
                                        <div class="mb-3">
                                            <label asp-for="OldPassword" class="form-label">Əvvəlki şifrə</label>
                                            <div class="password-field position-relative">
                                                <input asp-for="OldPassword" type="password" id="oldPassword" class="form-control" placeholder="**********">
                                                <span><i id="oldPasswordToggler" class="bi bi-eye-slash"></i></span>
                                            </div>
                                            <span class="text-danger" asp-validation-for="OldPassword"></span>
                                        </div>
                                        <!-- input -->
                                        <div class="mb-5">
                                            <label asp-for="NewPassword" class="form-label">Yeni şifrə</label>
                                            <div class="password-field position-relative">
                                                <input asp-for="NewPassword" type="password" id="newPassword" class="form-control" placeholder="**********">
                                                <span><i id="newPasswordToggler" class="bi bi-eye-slash"></i></span>
                                            </div>
                                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                                        </div>
                                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                        <!-- button -->
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary">Təsdiqləyin</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    var oldPassword = document.getElementById("oldPassword"),
        passwordtoggler = document.getElementById("oldPasswordToggler");
    showHidePassword = () => {
        "password" == oldPassword.type ? (oldPassword.setAttribute("type", "text"),
            passwordtoggler.classList.add("bi-eye"), passwordtoggler.classList.remove("bi-eye-slash")) :
            (passwordtoggler.classList.remove("bi-eye"), passwordtoggler.classList.add("bi-eye-slash"),
                oldPassword.setAttribute("type", "password"))
    }, passwordtoggler.addEventListener("click", showHidePassword);

    var newPassword = document.getElementById("newPassword"),
        newPasswordtoggler = document.getElementById("newPasswordToggler");
    showHideConfirmPassword = () => {
        "password" == newPassword.type ? (newPassword.setAttribute("type", "text"),
            newPasswordtoggler.classList.add("bi-eye"), newPasswordtoggler.classList.remove("bi-eye-slash")) :
            (newPasswordtoggler.classList.remove("bi-eye"), newPasswordtoggler.classList.add("bi-eye-slash"),
                newPassword.setAttribute("type", "password"))
    }, newPasswordtoggler.addEventListener("click", showHideConfirmPassword);
</script>