@inject FinalProject.Services.LangService service;
@{
    var lang = service.GetLang();
}
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from freshcart.codescandy.com/dashboard/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 Feb 2023 10:54:41 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta content="Codescandy" name="author">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-M8S4MT3EYG');
    </script>

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon/favicon.ico">


    <!-- Libs CSS -->
    <link href="~/assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
    <link href="~/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/css/theme.min.css">


    <title>Dashboard</title>
</head>

<body>
    <!-- main -->
    <div>
        <nav class="navbar navbar-expand-lg navbar-glass">
            <div class="container-fluid">
              <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">

                        <a class="text-inherit d-block d-xl-none me-4" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                           aria-controls="offcanvasExample">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-text-indent-right" viewBox="0 0 16 16">
                                <path d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm10.646 2.146a.5.5 0 0 1 .708.708L11.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zM2 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                            </svg>
                        </a>


                </div>
                <div class="dropdown">
                    @if (lang == "az")
                    {
                        <a class="dropdown-toggle text-decoration-none text-muted" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="me-1">
                                <img width="16" height="12" src="~/assets/images/flags/Flag_of_Azerbaijan.svg.png" />
                            </span>Azərbaycanca
                        </a>
                    }
                    else
                    {
                        <a class="dropdown-toggle text-decoration-none text-muted" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="me-1">
                                <img width="16" height="12" src="~/assets/images/flags/British-flag-england.png" />
                            </span>English
                        </a>
                    }
                    <ul class="dropdown-menu">
                        <li>
                            @if (lang == "en")
                            {
                                <a class="dropdown-item " asp-area="" asp-controller="home" asp-action="ChangeLanguage"
                               asp-route-culture="az-Latn-AZ">
                                    <span class="me-2">
                                        <img width="16" height="12" src="~/assets/images/flags/Flag_of_Azerbaijan.svg.png" />
                                    </span>Azerbaijan
                                </a>
                            }
                            else
                            {
                                <a class="dropdown-item " asp-area="" asp-controller="home" asp-action="ChangeLanguage"
                               asp-route-culture="en-US">
                                    <span class="me-2">
                                        <img width="16" height="12" src="~/assets/images/flags/British-flag-england.png" />
                                    </span>İngiliscə
                                </a>
                            }
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </nav>

        <div class="main-wrapper">
            <!-- navbar vertical -->
            @await Component.InvokeAsync("StoreManageHeader")

            <!-- main wrapper -->
            @RenderBody();
        </div>
    </div>

    <!-- Libs JS -->
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.min.js"></script>

    <!-- Theme JS -->
    <script src="~/assets/js/theme.min.js"></script>
    <script src="~/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/assets/js/vendors/chart.js"></script>

</body>


<!-- Mirrored from freshcart.codescandy.com/dashboard/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 Feb 2023 10:54:45 GMT -->
</html>