@model Product
@{
    int storeId = Int32.Parse((string)ViewData["StoreId"]);
    string storeName = (string)ViewData["StoreName"];
    string storeEmail = (string)ViewData["StoreEmail"];
}
<main>
    <div class="mt-4">
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-12">
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#!">Home</a></li>
                            <li class="breadcrumb-item"><a href="#!">Stores</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                @storeName
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- section -->
    <section class="mb-lg-14 mb-8 mt-8">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-12 col-lg-3 col-md-4 mb-4 mb-md-0">
                    <div class="d-flex flex-column">
                        <div>
                            <!-- img -->
                            <!-- img -->
                            <img src="~/assets/images/stores-logo/stores-logo-1.svg"
                                 alt=""
                                 class="rounded-circle icon-shape icon-xxl" />
                        </div>
                        <!-- heading -->
                        <div class="mt-4">
                            <h1 class="mb-1 h4">@storeName</h1>
                            <div class="small text-muted">
                                <span>Everyday store prices </span>
                            </div>
                            <div>
                                <span>
                                    <small><a href="#!">100% satisfaction guarantee</a></small>
                                </span>
                            </div>
                            <!-- rating -->
                            <div class="mt-2">
                                <!-- rating -->
                                <small class="text-warning">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                </small><span class="ms-2">5.0</span>
                                <!-- text --><span class="text-muted ms-1">(3,400 reviews)</span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!-- nav -->
                    <ul class="nav flex-column nav-pills nav-pills-dark">
                        <!-- nav item -->
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="store" asp-action="index" asp-route-storeId="@storeId"><i class="feather-icon icon-shopping-bag me-2"></i>Shop</a>
                        </li>
                        <!-- nav item -->
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="feather-icon icon-gift me-2"></i>Deals</a>
                        </li>
                        <!-- nav item -->
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="feather-icon icon-map-pin me-2"></i>Buy It Again</a>
                        </li>
                        <!-- nav item -->
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="feather-icon icon-star me-2"></i>Reviews</a>
                        </li>
                        <!-- nav item -->
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Store") && User.Identity.Name == storeEmail)
                        {
                            <li class="nav-item">
                                <a class="nav-link  active" aria-current="page" asp-controller="product" asp-action="addproduct"><i class="feather-icon icon-plus me-2"></i>Add product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="product" asp-action="index"><i class="feather-icon icon-list me-2"></i>Products list</a>
                            </li>
                        }
                        <!-- nav item -->
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="feather-icon icon-phone-call me-2"></i>Contact</a>
                        </li>
                        <!-- nav item -->
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="feather-icon icon-clipboard me-2"></i>Policy</a>
                        </li>
                    </ul>
                    <hr />
                    <div>
                        <ul class="nav flex-column nav-links">
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Produce</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Dairy & Eggs</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Beverages</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Meat & Seafood</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Snacks & Candy</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Frozen</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Bakery</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Prepared Foods</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Alcohol</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Dry Goods & Pasta</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Condiments & Sauces</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Canned Goods & Soups</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Breakfast</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Household</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Baking Essentials</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Oils, Vinegars, & Spices</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Health Care</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Personal Care</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Kitchen Supplies</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Floral</a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Party & Gift Supplies</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-9 col-md-8">
                    <form method="post" asp-action="update" enctype="multipart/form-data">
                        <div class="row g-3">
                            <div class="col-12 col-md-6 col-lg-4">
                                <label asp-for="Name">Product name <sup class="text-danger">*</sup></label>
                                <input asp-for="Name" class="form-control" placeholder="Product name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label asp-for="IngredientType">IngredientType <sup class="text-danger">*</sup></label>
                                <input asp-for="IngredientType" class="form-control" placeholder="IngredientType">
                                <span class="text-danger" asp-validation-for="IngredientType"></span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label asp-for="Type">Product type <sup class="text-danger">*</sup></label>
                                <input asp-for="Type" class="form-control" placeholder="product type">
                                <span class="text-danger" asp-validation-for="Type"></span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label asp-for="CostPrice">CostPrice <sup class="text-danger">*</sup></label>
                                <input asp-for="CostPrice" class="form-control" placeholder="CostPrice">
                                <span class="text-danger" asp-validation-for="CostPrice"></span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label asp-for="SalePrice">SalePrice <sup class="text-danger">*</sup></label>
                                <input asp-for="SalePrice" class="form-control" placeholder="SalePrice">
                                <span class="text-danger" asp-validation-for="SalePrice"></span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label asp-for="DiscountPercentage">DiscountPercentage <sup class="text-danger">*</sup></label>
                                <input asp-for="DiscountPercentage" class="form-control" placeholder="DiscountPercentage">
                                <span class="text-danger" asp-validation-for="DiscountPercentage"></span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="form-check">
                                    <input asp-for="IsAvaible" class="form-check-input">
                                    <label asp-for="IsAvaible" class="form-check-label">
                                        IsAvaible
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label asp-for="Shipping">Shipping <sup class="text-danger">*</sup></label>
                                <input asp-for="Shipping" class="form-control" placeholder="Shipping">
                                <span class="text-danger" asp-validation-for="Shipping"></span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label asp-for="Weight">Weight <sup class="text-danger">*</sup></label>
                                <input asp-for="Weight" class="form-control" placeholder="Weight">
                                <span class="text-danger" asp-validation-for="Weight"></span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label asp-for="NetQuantity">NetQuantity <sup class="text-danger">*</sup></label>
                                <input asp-for="NetQuantity" class="form-control" placeholder="NetQuantity">
                                <span class="text-danger" asp-validation-for="NetQuantity"></span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label asp-for="Brand">Brand</label>
                                <input asp-for="Brand" class="form-control" placeholder="Brand">
                                <span class="text-danger" asp-validation-for="Brand"></span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label asp-for="Width">Width</label>
                                <input asp-for="Width" class="form-control" placeholder="Width">
                                <span class="text-danger" asp-validation-for="Width"></span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label asp-for="Height">Height</label>
                                <input asp-for="Height" class="form-control" placeholder="Height">
                                <span class="text-danger" asp-validation-for="Height"></span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label asp-for="Length">Length</label>
                                <input asp-for="Length" class="form-control" placeholder="Length">
                                <span class="text-danger" asp-validation-for="Length"></span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <label asp-for="DimensionType">DimensionType</label>
                                <input asp-for="DimensionType" class="form-control" placeholder="DimensionType">
                                <span class="text-danger" asp-validation-for="DimensionType"></span>
                            </div>
                            <div class="col-12 col-md-6">
                                <label asp-for="StartingDate">StartingDate</label>
                                <input asp-for="StartingDate" class="form-control" placeholder="StartingDate">
                                <span class="text-danger" asp-validation-for="StartingDate"></span>
                            </div>
                            <div class="col-12 col-md-6">
                                <label asp-for="EndingDate">EndingDate</label>
                                <input asp-for="EndingDate" class="form-control" placeholder="EndingDate">
                                <span class="text-danger" asp-validation-for="EndingDate"></span>
                            </div>
                            <div class="col-12">
                                <label asp-for="Description">Description(<span class="descriptionCount">1500 characters remaining.</span>) <sup class="text-danger">*</sup></label>
                                <textarea asp-for="Description" class="form-control descriptionText" placeholder="Description"></textarea>
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>
                            <div class="col-12">
                                <label asp-for="StorageTip">StorageTip(<span class="storageTipCount">1500 characters remaining.</span>)<sup class="text-danger">*</sup></label>
                                <textarea asp-for="StorageTip" class="form-control storageTipText" placeholder="StorageTip"></textarea>
                                <span class="text-danger" asp-validation-for="StorageTip"></span>
                            </div>
                            <div class="col-12">
                                <label asp-for="Disclaimer">Disclaimer(<span class="disclaimerCount">1500 characters remaining.</span>) <sup class="text-danger">*</sup></label>
                                <textarea asp-for="Disclaimer" class="form-control disclaimerText" placeholder="Disclaimer"></textarea>
                                <span class="text-danger" asp-validation-for="Disclaimer"></span>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label asp-for="PosterImgFile">Upload PosterImg <sup class="text-danger">*</sup></label>
                                <input asp-for="PosterImgFile" type="file" accept="image/png,jpg,jpeg" class="form-control">
                                <span asp-validation-for="PosterImgFile" class="text-danger"></span>
                                @if(Model.ProductImages.FirstOrDefault(x=>x.IsPoster==true)?.Image!=null){
                                     <img style="max-width:150px;max-height:140px" src="~/uploads/products/@Model.ProductImages.FirstOrDefault(x=>x.IsPoster==true)?.Image" />
                                }
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label asp-for="ImageFiles">Upload ImageFiles</label>
                                <input asp-for="ImageFiles" multiple type="file" accept="image/png,jpg,jpeg" class="form-control">
                                <span asp-validation-for="ImageFiles" class="text-danger"></span>
                                 <div class="d-flex flex-wrap">
                                    @foreach (ProductImages productImage in Model.ProductImages.Where(x => x.IsPoster == false))
                                    {
                                        if (@productImage?.Image != null)
                                        {
                                            <div style="margin-left:40px;margin-top:16px;position:relative">
                                                <img style="max-width:150px;max-height:140px;" src="~/uploads/products/@productImage?.Image" />
                                                <span class="deleteBtn" style="cursor:pointer;font-weight:bold;font-size:24px;color:red;position:absolute">X</span>
                                                <input hidden name="ProductImageIds" value="@productImage.Id" />
                                            </div>
                                        }
                                    }
                                 </div>
                            </div>
                            <!-- btn -->
                            <div class="col-12 d-grid">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<script>

    let descriptionCount = document.getElementsByClassName("descriptionCount")[0];
    let storageTipCount = document.getElementsByClassName("storageTipCount")[0];
    let disclaimerCount = document.getElementsByClassName("disclaimerCount")[0];
    let descriptionText = document.getElementsByClassName("descriptionText")[0];
    let storageTipText = document.getElementsByClassName("storageTipText")[0];
    let disclaimerText = document.getElementsByClassName("disclaimerText")[0];

    descriptionText.addEventListener("keyup", () => {
        if (1500 - descriptionText.value.length <= 1500 && 1500 - descriptionText.value.length > 0) {
            descriptionCount.textContent = 1500 - descriptionText.value.length + " characters remaining.";
        }
        else {
            descriptionCount.textContent = "0 characters remaining."
        }
    })
    storageTipText.addEventListener("keyup", () => {
        if (1500 - storageTipText.value.length <= 1500 && 1500 - storageTipText.value.length > 0) {
            storageTipCount.textContent = 1500 - storageTipText.value.length + " characters remaining.";
        }
        else {
            storageTipCount.textContent = "0 characters remaining."
        }
    })
    disclaimerText.addEventListener("keyup", () => {
        if (1500 - disclaimerText.value.length <= 1500 && 1500 - disclaimerText.value.length > 0) {
            disclaimerCount.textContent = 1500 - disclaimerText.value.length + " characters remaining.";
        }
        else {
            disclaimerCount.textContent = "0 characters remaining."
        }
    })

    let deleteBtns = document.querySelectorAll(".deleteBtn");

    deleteBtns.forEach(btn => btn.addEventListener("click", function () {
    btn.parentElement.remove();
    }))

</script>
